<div class="container">
    <header>
       
    </header>
  
    <section class="hero">
      <h1>Welcome to AfterDarkTuning </h1>
      <p>Your ultimate destination for car modifications and tuning.</p>
       
    </section>
  
    <section class="services">
      <h2>Our Services</h2>
      <div class="service-items">
        <div class="service-item">
          <h3>Engine Tuning</h3>
          <p> Our customized ECU remaps are tailored to your engine's requirements and can help you boost power (BHP) and torque (NM). Moreover, our in-depth service eliminates poor throttle response, resolves flat spots for a smoother drive experience and ensures that each vehicle achieves peak performance from start to finish.</p>
           
        </div>
        <div class="service-item">
          <h3>Emissions Solutions</h3>
          <p>Our software solutions can also resolve emission related faults/issues including, Exhaust Gas Recirculation (EGR) Diesel Particle Filter (DPF) Addblue (SCR) and much more. At a fraction of the cost and time compared to bringing your car to a main dealership. </p>
         
        </div>
        <div class="service-item">
          <h3>2wd Dyno</h3>
          <p>A Dyno or Rolling Road Tuning session at After Dark Tuning allows us to accurately measure the performance of your vehicle before and after ECU remapping. Dyno tuning is an essential part of the remapping process, as it helps us to make sure that changes made to the engine’s electronic control unit (ECU) are producing optimal results.</p>
           
        </div>
      </div>
    </section>
    
  
    <section class="gallery">
      <h2>Gallery</h2>
      <div class="gallery-items">
        <img src="assets/edc15.png" alt="Car 1">
        <img src="assets/boot-mode.jpg" alt="Car 2">
        <img src="assets/2wddyno.jpg" alt="Car 3">
      </div>
    </section>
  
    <section class="testimonials">
      <h2>Feedback</h2>
      <div class="testimonial-items">
        <blockquote>"The lads at After Dark Tuning got my car up and running in less than an hour after being stranded at the side of the road with a failed Addblue pump    " - Mark McGowan</blockquote>
        <blockquote>"I recently got my BMW 520d tuned with the lads at After DarkTuning and my car has never performed better, the difference is night a day." - Alan Healy</blockquote>
      </div>
    </section>
   
  </div>
  